---
// src/layouts/MainLayout.astro
import '../styles/global.css';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>BDD Living Documentation</title>
  </head>
  <body class="container mx-auto p-4">
    <slot />
  </body>
</html>
